<p>home works!</p>

<!-- <button (click)="passData()">Pass Data</button> -->
<!-- <button (click)="passData2()">Pass Data By queryParam</button> -->
<!-- <button [routerLink]="['login',{name:'Priya'}]">By router Link</button> -->
<div class="container">
    <a class="btn btn-danger dropdown-toggle" href="#" data-toggle="dropdown">
    Profile
    </a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="">Edit Profile</a>
        <a class="dropdown-item" href="">Edit Profile</a>
        <a class="dropdown-item" href="">Edit Profile</a>
    </div>
</div>

@for(user of users; track user.id)
{
    <a routerLink="user/{{user.id}}"><ul>ID: {{user.id}}, Name: {{user.name}}</ul></a>
}