<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 py-5">
            <h2 class="text-center">Login</h2>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control">
            </div>
            <button class="btn btn-primary">Login</button>
            <div class="mt-2">
                Don't have an account? <a routerLink="registration">Registration</a>
            </div>
        </div>
    </div>
</div>